<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Technical Support - RDA - Creativity Task</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->

<link href="{% static 'puzzle/bootstrap.min.css' %}" rel="stylesheet">



    
    <!-- Custom styles for this template -->
    <link href="{% static 'puzzle/cover.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"> <a class="nav-link cusotm_url" href="{% url "puzzle:home" %}">Regex Crossword</a></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url "puzzle:home" %}">Home</a>
        <a class="nav-link" href="{% url "puzzle:documentation" %}">Documentation</a>
      </nav>
    </div>
  </header>
{% block content %}





{% endblock %}
  <footer class="footer_home mt-auto text-white-50">
    <p>Technical Support - RDA - Creativity Task</p>
  </footer>
</div>


    
  </body>
</html>
